#root {
  max-width: 1280px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-size: 40px;
}

p {
  text-align: left;
}

img {
  /* Make images scale to their container and keep aspect ratio.
     Using block-level images inside figures avoids baseline alignment gaps. */
  max-width: 100%;
  height: auto;
  display: block;
}

figure {
  /* Use inline-block to flow figures, but align their tops so different
     heights don't cause baseline misalignment. Add a small margin. */
  display: inline-block;
  vertical-align: top;
  max-width: 20rem;
  padding: 0;
  margin: 1rem;
}

figcaption {
  color: rgb(249, 109, 109);
  text-align: center;
  font-size: 25px;
}

figure p {
  max-width: 20rem;
}

button {
  display: block;
  border-width: 3px;
  border-color: #2ece49;
  border-style: solid;
  background-color: #240c45;
  color: #2ece49;
  width: 6rem;
  height: 2rem;
  font-size: 1rem;
}

a {
  color: white;
}

a:hover {
  color: #dec58d;
}

.bottom-fig {
  max-width: 100rem;
}

.bottom-fig p {
  max-width: 100rem;
}

.bottom-fig img {
  max-height: 50rem;
  max-width: 100rem;
}