#root {
  max-width: 1280px;
}

header, main {
  margin: 0;
  margin-left: 3rem;
}

p {
  text-align: left;
}

img {
  /* Make images scale to their container and keep aspect ratio.
     Using block-level images inside figures avoids baseline alignment gaps. */
  max-width: 100%;
  height: auto;
  display: block;
}

figure {
  /* Use inline-block to flow figures, but align their tops so different
     heights don't cause baseline misalignment. Add a small margin. */
  display: inline-block;
  vertical-align: top;
  max-width: 20rem;
  padding: 0;
  margin: 0 1rem 1rem 0;
}

figcaption {
  color: rgb(146, 1, 1);
  text-align: center;
  font-size: 25px;
}

figure p {
  max-width: 12rem;
}

h2 {
  text-align: center;
}

button {
  display: block;
}

.bottom-fig {
  max-width: 100rem;
}

.bottom-fig p {
  max-width: 100rem;
}

.bottom-fig img {
  max-height: 50rem;
  max-width: 100rem;
}