:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

header{
  /* background-color: red; */
  background-image: url(../../public/images/Learn_To_Play_BG-4-resized-1024x375.webp);
  background-repeat: no-repeat;
  background-position:top;
  background-size: 105%;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 1em;
  margin-top: 10px;
}

a {
  color: white;
}

a:hover {
  background-color: green;
}

footer{
  background-color: red;
  color:white;
  font-size: 30px;
  text-align: center;
  width: 100%;
}

body {
  display: flex;
  justify-content: center; /* centers horizontally */
  height: 100vh;           /* makes body full height of the viewport */
  margin: 0;               /* remove default spacing */
  min-width: 320px;
  min-height: 100vh;
  background-image: url(/images/deathmatch_bg-scaled-1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.content {
  background-color: #181818;
  color: white;
}