/* OVERALL SETUP */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  /* overscroll-behavior-y: none; */
}

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background-color: aliceblue;
}

/* HEADER */

header {
  width: 100%;
  background-color: #311455;
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 1rem 2rem;
}

.site-title {
  text-align: center;
  margin: 0;
}

.logo {
  border: 5px solid black;
  width: 200px;
  height: 200px;
  object-fit: cover;
  overflow: visible;
  position: relative;
  margin-bottom: -7rem;
  z-index: 10;
}

/* MAIN */

main {
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 20rem;
  margin-right: 20rem;
  overscroll-behavior: none;
}

/* FOOTER */

footer {
  background-color: #311455;
  color: white;
  align-items: center;
  padding: 1rem 2rem;
  text-align: center;
  position: static;
  bottom: 0;
  width: 100%;
}